@model WebBanGiayMVC.Models.SanPham

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var dsDanhMuc = ViewBag.DsDanhMuc as List<WebBanGiayMVC.Models.DanhMuc>;
}
@section styles{
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
}
<div id="page-wrapper">
    <div class="main-page">
        <h2 class="title1">Blank Page</h2>
        <div class="blank-page widget-shadow scroll" id="style-2 div1">
            <h2>Create</h2>

            <div class="form-horizontal">
                <h4>SanPham</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.TenSanPham, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TenSanPham, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TenSanPham, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MoTaSanPham, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @*@Html.EditorFor(model => model.MoTaSanPham, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MoTaSanPham, "", new { @class = "text-danger" })*@
                        <textarea name="ckMotaSanPham"></textarea>
                        @Html.ValidationMessageFor(model => model.MoTaSanPham, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.GiaSanPham, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.GiaSanPham, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GiaSanPham, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.AvatarSanPham, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @*@Html.EditorFor(model => model.AvatarSanPham, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AvatarSanPham, "", new { @class = "text-danger" })*@
                        <input type="file" class="upload-single-input form-control" />
                        <img src="" class="preview-picture" id="AvatarSanPham" style="width:70px; height:70px" />
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DanhSachAnhSanPham, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @*@Html.EditorFor(model => model.DanhSachAnhSanPham, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DanhSachAnhSanPham, "", new { @class = "text-danger" })*@
                        <input type="file" class="upload-single-input form-control" />
                        <img src="" class="preview-picture" id="DanhSachAnhSanPham" style="width:70px; height:70px" />
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NoiDungSanPham, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NoiDungSanPham, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NoiDungSanPham, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.HangSanPham, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.HangSanPham, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HangSanPham, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Loai, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Loai, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Loai, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TrangThai, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TrangThai, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TrangThai, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="dsDanhMuc">Danh sách danh mục</label>
                    <div class="col-md-10">
                        <select id="dsDanhMuc" name="dsDanhMuc" class="form-control dsDanhMuc" multiple="multiple">
                            @foreach (var item in dsDanhMuc)
                            {
                                <option value="@item.Id">@item.TenDanhMuc</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group html-thong-so">
                    <label>Thêm thông số sản phẩm</label>
                    <div>
                        <button class="btn btn-success add-thong-so">+</button>
                    </div>
                    <div class="row template" style="display:none">
                        <div class="col-md-4">
                            <select class="form-control thong-so-sp">
                                <option value="1">Màu sắc</option>
                                <option value="2">Kích thước</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <input  type="text" class="form-control gia-tri" />
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-danger remove-thong-so">-</button>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" value="Create" class="btn btn-default create-sanpham" />
                    </div>
                </div>


            </div>


            <div>
                @Html.ActionLink("Back to List", "AdminIndex")
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/admin-design-dashboard-web/components/uploadFile.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="~/admin-design-dashboard-web/jsCustom/sanPham.js"></script>
}