@model  PagedList.IPagedList<WebBanGiayMVC.Models.SanPham>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css"/>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_FooterLayout.cshtml";
    var logo = ViewBag.Logo as string;

    var banner = ViewBag.Banner as int?;

    

    var womenB = ViewBag.WomenBanner as string;
    var menB = ViewBag.MenBanner as string;

    //var giaSanPham = Model.GiaSanPham;
    //var gia = string.Format("{0:n0}", giaSanPham)
    var gia = ViewBag.Gia;
    var sanpham = ViewBag.SanPham as string;
}




    <div class="colorlib-loader"></div>

    <div id="page">
        
        <aside id="colorlib-hero">
            <div class="flexslider">
                <ul class="slides">
                    @foreach (var list in @ViewBag.Banner)
                    {
                        <li style="background-image: url('@list.GiaTriCauHinh')">
                            <div class="overlay"></div>
                            <div class="container-fluid">
                                <div class="row">                   
                                    <div class="col-sm-6 offset-sm-3 text-center slider-text">
                                        <div class="slider-text-inner">
                                            <div class="desc">
                                                <h1 class="head-1">@list.TenCauHinh</h1>
                                                <p><a href="@Url.Action("Product_Detail", "TrangChu") " class="btn btn-primary">Shop Collection</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }


                </ul>
            </div>
        </aside>
        <div class="colorlib-intro">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h2 class="intro">It started with a simple idea: Create quality, well-designed products that I wanted myself.</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="colorlib-product">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 text-center">
                        <div class="featured">
                            <a href="@Url.Action("Men", "TrangChu")" class="featured-img" style="background-image: url('@menB')"></a>
                            <div class="desc">
                                <h2><a href="@Url.Action("Men", "TrangChu")">Shop Men's Collection</a></h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 text-center">
                        <div class="featured">
                            <a href="@Url.Action("Women", "TrangChu")" class="featured-img" style="background-image: url('@womenB')"></a>
                            <div class="desc">

                                <h2><a href="@Url.Action("Women", "TrangChu")">Shop Women's Collection</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="colorlib-product">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 offset-sm-2 text-center colorlib-heading">
                        <h2>Best Sellers</h2>
                    </div>
                </div>
                <div class="row row-pb-md">
                    @*@foreach (var item in ViewBag.SanPham)
        {
            var price = @item.GiaSanPham.ToString("N0");
            <div class="col-lg-3 mb-4 text-center">

                <div class="product-entry border">

                    <a href="@Url.Action("Product_Detail", "TrangChu", new { id = item.Id })" class="prod-img">
                        <img src="@item.AvatarSanPham" width="120" height="120" />

                    </a>
                    <div class="desc">
                        <h2><a href="@Url.Action("Product_Detail", "TrangChu", new { id = item.Id })">@item.TenSanPham</a></h2>
                        <span class="price"><a href="#"></a>@price</span>
                    </div>

                </div>
            </div>
        }*@
                    @foreach (var item in Model)
                    {
                        string price = Convert.ToDecimal(item.GiaSanPham).ToString("N0");
                        

                        <div class="col-lg-3 mb-4 text-center">

                            <div class="product-entry border">

                                <a href="@Url.Action("Product_Detail", "TrangChu", new { id = item.Id })" class="prod-img">
                                    <img src="@Html.DisplayFor(modelItem => item.AvatarSanPham)" width="120" height="120" />

                                </a>
                                <div class="desc">
                                    <h2><a href="@Url.Action("Product_Detail", "TrangChu", new { id = item.Id })">@Html.DisplayFor(modelItem => item.TenSanPham)</a></h2>
                                    <span class="price"><a href="#">@price</a></span>
                                </div>

                            </div>
                        </div>
                    }
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p><a href="@Url.Action("Index", "SanPhams")" class="btn btn-primary btn-lg">Shop All Products</a></p>
                    </div>
                </div>
            </div>
            <div class="" style="text-align:center ; margin-top:50px">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>
            
        </div>

        <div class="colorlib-partner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm">
                        <h2>Trusted Partners</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col partner-col text-center">
                        <img src="~/footwear-master/images/brand-1.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
                    </div>
                    <div class="col partner-col text-center">
                        <img src="~/footwear-master/images/brand-2.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
                    </div>
                    <div class="col partner-col text-center">
                        <img src="~/footwear-master/images/brand-3.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
                    </div>
                    <div class="col partner-col text-center">
                        <img src="~/footwear-master/images/brand-4.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
                    </div>
                    <div class="col partner-col text-center">
                        <img src="~/footwear-master/images/brand-5.jpg" class="img-fluid" alt="Free html4 bootstrap 4 template">
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
    </div>




