@model IEnumerable<WebBanGiayMVC.Models.DanhMuc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div id="page-wrapper">
    <div class="main-page">
        <h2 class="title1">Blank Page</h2>
        <div class="blank-page widget-shadow scroll" id="style-2 div1">
            <h2>Index</h2>

            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.TenDanhMuc)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MoTaDanhmuc)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BannerDanhMuc)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AvatarDanhMuc)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ParentId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Loai)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TrangThai)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.TenDanhMuc)
                            </td>
                            <td>
                                @Html.Raw(item.MoTaDanhmuc)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BannerDanhMuc)
                            </td>
                            <td>
                                <img src="@item.AvatarDanhMuc" style="width:50px;height:50px" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ParentId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Loai)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TrangThai)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        var R = {
            Init: function () {
                R.InitDataTable();
            },
            RegisterEvent: function () { },
            InitDataTable: function () {
                $('.table').DataTable()
            }
        }
        R.Init()
    </script>
}